* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(./imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

header {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 10px #6ebe8e;
}

.corpo {
    width: 100%;
    max-width: 850px;
    background-color: #6ebe8e;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 10px 5px 10px #223b2cd7;
    padding: 10px;
}

.bolo {
    display: flex;
    width: 100%;
    max-width: 150px;
    height: 150px;   
    margin: auto;
}

#principal {
    width: 100%;
    max-width: 920px;
    margin: auto;
}

.noticias {
    border-radius: 5px;
    background-color: #e5e5e5;
    width: 100%;
    max-width: 280px;
    margin: 8px;
    float: left;
    display: block;
}

.clear {
    clear: both;
    margin: 10px;
}

.galeria {
    background-color: white;
    width: 100%;
    max-width: 265px;
    padding: 5px;
    margin: 12px;
    float: left;
}

.caixa-galeria {
    background-color: #090a0a;
}

.logo {
    display: flex;
    margin: auto;
    max-width: 50px;
    margin-top: 5px;
}

.logo-grande {
    display: flex;
    margin: auto;
}

.imagen2 {
    display: flex;
    margin: auto;
}

nav {
    background-color: #e6bbcf;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #58280093;
    text-align: center;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

a:hover {
    background-color: #0ED02B;
    text-decoration: underline;
    border-radius: 5px; 
    box-shadow: 3px 3px 10px #3f2308af; 
}

p{
    margin: 5px;
}

h1{
    margin: 5px;
}

@media (max-width: 768px) {
    .corpo {
        flex-direction: column;
        
    }

    .noticias {
        max-width: 100%;
    }

    .galeria {
        max-width: 100%;
      
    }

    nav {
        padding: 15px;
    }


@media (max-width: 480px) {
    .corpo {
        padding: 10px;
    }

    .noticias {
        margin: 5px;
    }

    .galeria {
        margin: 5px auto;
    }

    nav {
        padding: 10px;
    }

    a {
        padding: 10px;
    }






    
    
    





   
   
   
   
