*{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

body{
    background-image:linear-gradient(to right,#F2E2D5,#ac9f95);
}

.menu{
    border:1px solid red;
    width: 920px;
    height: 150px;
    margin: auto;
    background-color: white;
    background: url(imagens/logo.png.png);
}

ul{
   margin-left: 225px;
   margin-top: 60px;
    
}
.menu a{
    text-decoration: none;
    padding: 20px;
    color:#B35D60;
    font-size: 1.5em;
}
.menu a:hover{
  

    border-radius: 5px;
    color:#D89D5C ;
    text-decoration: underline;
    
}
    
li{
    float: left;
    list-style: none; 
   
 }

.areia1{
    border:1px solid red;
    width: 920px;
    height: 400px;
    margin: auto;
    clear: both;  
    margin-top: 5px;
}

.areia2{
    border:1px solid red;
    width: 920px;
    height: 300px;
    margin: auto;  
    
}


.areia3{
    border:1px solid red;
    width: 920px;
    height: 350px;
    margin: auto;  
}


.imagem1{
    float: left;
    margin: 30px;
    margin-top: 50px;
}
.logo2{
    width: 200px;

}
     

    





   
   
   
   
