*{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

body{
    background-image:linear-gradient(to right,#F2E2D5,#ac9f95);
}

.menu{
    width: 920px;
    height: 150px;
    margin: auto;
    background-color: white;
    background: url(imagens/logo-pq.png2);
    background-repeat: no-repeat;
    background-position: 45px;
}

ul{
   margin-left: 225px;
   margin-top: 60px;  
}


.menu a{
    text-decoration: none;
    padding: 20px;
    color:#B35D60;
    font-size: 1.5em;
}
.menu a:hover{
  

    border-radius: 5px;
    color:#D89D5C ;
    text-decoration: underline;
    
}
    
li{
    float: left;
    list-style: none; 
   
 }

.areia1{
    width: 920px;
    height: 400px;
    margin: auto;
    clear: both;  
    margin-top: 5px;
    display: flex;
   
}

.areia2{
    border:1px solid red;
    width: 920px;
    height: 300px;
    margin: auto;
    margin-top: 5px;  
    
}


.areia3{
    border:1px solid red;
    width: 920px;
    height: 350px;
    margin: auto;  
}


.elemento1{
    width: 306px;
    height: 250px;
    background-color: #D89D5C;
    
}

.elemento2{
    width: 306px;
    height: 250px;
    background-color: #D89D5C;
      
}

.elemento3{
   
    width: 306px;
    height: 250px;
    background-color: #D89D5C;
      
}

.elemento4{
    width: 920px;
    height: 150px;
    background-color: #D89D5C;
    margin: 0 auto;
    margin-top: -140px;
}

.elemento1 img{
    margin-left: 70px;
    margin-top: -20px;
   
    
}

.elemento1 p{
    margin-top: -20px;   
}

.formulario{
    
    margin-left: 400px; 
   
}

.submit{
    width: 60px;
}

input{
    margin-top: 5px;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    border: none;
}


    





   
   
   
   
